body {
  background-color: #000000;
  color: #f0f0f0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

.form-text {
  font-size: xx-large;
}

.form-input {
  font-size: xx-large;
  background-color: #000000;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
